# Alamofire
github "Alamofire/Alamofire" ~> 3.0

#SwiftyJSON
#github "SwiftyJSON/SwiftyJSON"

#Object mapper
github "Hearst-DD/ObjectMapper"

#AlamofireObjectMapper
github "tristanhimmelman/AlamofireObjectMapper"

#ImageLoaderSwift
github "hirohisa/ImageLoaderSwift" ~> 0.6.0